		<!--datos-->
		<title>Kapp</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="img/favicon.png">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<!--referencias de css-->
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  		<link rel="stylesheet" href="style/bootstrap.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

        <!-- Referencias de js -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		

		<!--Referencias locales de css -->
		<link rel="stylesheet" type="text/css" href="stylesheets/icon.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/loader.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/idangerous.swiper.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 


     	<!--Referencias locales de js -->
		<script src="script/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="script/jquery-ui.min.js"></script>
		<script type="text/javascript" src="script/bootstrap.min.js"></script>		
		<script type="text/javascript" src="script/idangerous.swiper.min.js"></script>
		<script type="text/javascript" src="script/jquery.mixitup.js"></script>
		<script type="text/javascript" src="script/jquery.viewportchecker.min.js"></script>
		<script type="text/javascript" src="script/filters.js"></script>
		<script type="text/javascript" src="script/global.js"></script>
		<script type="text/javascript" src="script/isotope.pkgd.min.js"></script>
		<script src="script/jquery-2.1.4.min.js"></script>
		  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script> 
		  <script src="script/map.js"></script>
		  <script src="script/global.js"></script>

 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>  
 