		<!--datos-->
		<title>Tractus</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!--Logo-->
		<link rel="shortcut icon" href="/img/tractus-logo.jpg">
    	

        <!-- API REFERENICAS -->
    	<link href='https://fonts.googleapis.com/css?family=Exo:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    	<link href='https://fonts.googleapis.com/css?family=Noticia+Text:700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    	<link href='https://fonts.googleapis.com/css?family=Karla&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

		<!--referencias de css-->
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<!--Referencias locales de css -->
		<link rel="stylesheet" type="text/css" href="stylesheets/icon.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/loader.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/idangerous.swiper.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
  		<link rel="stylesheet" href="style/bootstrap.min.css">
		
	 
     	

        
        


 
    
 