<!DOCTYPE html>
<html>
	<head>
		 <% include ../partials/header.ejs %>
	    
	</head>
	<body class="body-color3"> 
		<!-- THE LOADER -->
		<div class="be-loader">
		    	<div class="spinner">
					<img class="boton-logo"  src="/img/boton.png" width="127px" height="37px" alt="logo">
					<p class="circle">
					  <span class="ouro">
					    <span class="left"><span class="anim" style="color:#FFCC33;"></span></span>
					    <span class="right"><span class="anim" style="color:#FFCC33;" ></span></span>
					  </span>
					</p>
				</div>
		    </div>
			<!-- THE HEADER -->
		<header>
			<div class="container-fluid custom-container">
				<div class="row no_row row-header">
					<div class="brand-be">
						<a href="">
							<img class="boton-logo" src="/img/tractus-logo.jpg" width="50px" height="40px" alt="logo">

						</a>
					</div>

						<div class="header-menu-block">
							<button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
							<ul class="header-menu" id="one">
								<!--
								<li><a href="activity">Actividad</a></li>
								<li><a href="search">Descubre</a>
									<ul>
										<li><a href="search">Explore</a></li>
										<li><a href="people">People</a></li>
										<li><a href="gallery">Galleries</a></li>
									</ul>
								</li>
								  <li><a href="author-login">Perfil de Usuario</a></li>
								<li><a href="site-map">Mapa del Sitio</a></li>  
								<li id="ad-work-li"><a id="add-work-btn" class="btn color-1" href="work">Crear Proyecto</a></li>
								
							</ul>
						-->
						</div>

						<div class="login-header-block">
							<div class="login_block">
								<a class="be-register btn color-0 size-8 hover-9" style="border-color:#FFCC20; color:#FFCC33;" ><i class="fa fa-hand-o-right" style="color:#FFCC20;"></i>
								Qué tal?</a>
							</div>	
							
						</div>
					</div>
				</div>
		</header>	
	<!-- MAIN CONTENT -->
	<div id="content-block">
		<div class="head-bg style-3 ab-us">
			<div class="swiper-container" data-autoplay="5000" data-loop="1" data-speed="2500" data-center="0" data-slides-per-view="1">
                <div class="swiper-wrapper">
                	<div class="swiper-slide head-bg-img " data-val="0">
                		<img class="center-image" src="img/fondos/asta.jpg" alt="">
                	</div>
                	<div class="swiper-slide head-bg-img" data-val="1">
                		<img class="center-image" src="img/fondos/bahia.jpg" alt="">	
                	</div>
                	<div class="swiper-slide head-bg-img" data-val="2">
                		<img class="center-image" src="/img/fondos/sol.jpg" alt="">	
                	</div>
                	<div class="swiper-slide head-bg-img " data-val="3">
                		<img class="center-image" src="/img/fondos/Chimenea.jpg" alt="">
                	</div>
                	<div class="swiper-slide head-bg-img" data-val="2">
                		<img class="center-image" src="/img/fondos/Michel.jpg" alt="">	
                	</div>
                	<div class="swiper-slide head-bg-img" data-val="4">
                		<img class="center-image" src="img/fondos/Vacaciones.jpg" alt="">	
                	</div>
                	<div class="swiper-slide head-bg-img" data-val="5">
                		<img class="center-image" src="/img/fondos/Bolillo.jpg" alt="">	
                	</div>
                	<div class="swiper-slide head-bg-img" data-val="5">
                		<img class="center-image" src="/img/fondos/muelle.jpg" alt="">	
                	</div>
                	
                </div>
                <div class="pagination hidden"></div>
            </div>
			<div class="head-bg-content" style="font-size: 80%;">
                <div class="swiper-arrow-left type-2 be-out"></div>
                <div class="swiper-arrow-right type-2 be-out"></div>
				<h1 style="font-size:700%;">Tractus</h1>

				<p style="font-size:200%;">Sueña. Conecta. Crea.</p>

				<a class="btn color-0 size-1 hover-2" style="border-color:#3b5998; background-color:#3b5998;" href="https://www.facebook.com/tractusmx" target="_blank"><i class="fa fa-facebook"></i>Noticias vía facebook</a>

				<a class="be-register btn color-0 size-1 hover-9" style="border-color:#FFCC20; color:#FFCC33;" ><i class="fa fa-home" style="color:#FFCC20;"></i>Déjanos un mensaje</a>

			</div>	
		</div>
		<div class="container">
			<div class="about-description">
				<img class="img-responsive" style=" background-attachment: fixed; background-position: center;  width: 2000px; height:300px;" alt=""></img>  
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						
						<div class="about-text">
							<br />
							<h1 style="text-align:center;">¿Qué es Tractus?</h1><br>
						<h2 style="text-align:center;">Soñar</h2>

						Tractus es un lienzo creativo, un espacio para depositar los sueños de los nuevos artistas, para conectarlos con su futuro y unirlos para crear.<br><br/>
						<h2 style="text-align:center;">Conectar</h2>
						Nosotros nos hacemos cargo de mantenerte conectado con todos los servicios que necesites para <color style="color:#800080;">financiar, producir y distribuir</color> tus proyectos artísticos de forma <color style="color:#800080;">gratuita.</color><br><br/>
						<h2 style="text-align:center;">Crear</h2>	
						La empresa atiende a todo aquel arte que pueda ser expresado a través del internet. Acompañamos el servicio de multiples herramientas de asesoría y aprendizaje. Usando Iot <em>"Internet Of Things"</em> estamos trabajando en espacios creativos interactivos con el fin de ofrecer una nueva de forma de unirnos a través del arte. 
						<br><br/>
						<img class="img-responsive-2 img-full" style=" background-attachment: fixed; background-position: center;   height:300px;"  >
						<br />	
							<h1>L'art pour l'art</h1>
						<br />
							Nuestra filosofía es simple. <em>El arte sólo sirve al arte.</em> Cuando nuestra creatividad sólo se ve limitada por nuestra imaginación y no por causas externas, es entonces cuando  <color style="color:#800080;">el arte significa más. </color><br>
							Por eso, el objetivo de Tractus es crear una vía <color style="color:#800080;">sencilla, cómoda y universal </color> para guíar a los artistas. De tal forma que las únicas preocupaciones restantes permanezcan dentro del reino creativo. 
							<br><br/>
							Sabemos que la vida del artista no es fácil, también reconocemos que las dificultades moldan a los mejores. Para las nuevas generaciones de artistas encontrar un espacio en un mundo monetizado representa un obstáculo infranqueable. Tenemos un reto en esa área y aunque conocemos las malas noticias,
							estamos comprometidos a vencer las viejas inercias en aras de un <color style="color:#800080;">espacio para la creación artística</color>, y así, favorecer al arte no sólo como una <color style="color:#800080;">industria rentable</color> sino como una herramienta que nos ayude a enfrentar las adversidades de la vida, y al integrar el arte en cada aspecto de ella, vivir mejor.
					
							<br>
							<br />		
						</div>
					</div>
				</div>
			
				<br/>
		<br>	
		<div class="videoWrapper">	

		<iframe max-width="560" height="349" src="https://www.youtube.com/embed/aToJl06U0HI" frameborder="0" allowfullscreen></iframe>

		</div>	
		<br/>
		<br>

			<div class="block">
				<h3 class="block-title" style="color: #5B6486;">Nuestro Equipo</h3>
				<div class="block-subtitle" ><h4>Tractus está conformado por un grupo de estudiantes interesados en impactar positivamente a la sociedad</h4></div>
				<div class="row">
					<div class="col-ml-12 col-xs-6 col-sm-6 col-md-3">
						<div class="team-entry">

							<a href="perfil_Diego"><img class="img-responsive img-full" src="/img/diego4.jpg" alt="" style="width: 360px; height: 202px;opacity: 0.9;"></a>

							<h4 class="team-name">Diego Ortega</h4>
							<div class="team-position">
								<a class="be-post-tag">Fundador y Líder de Producto</a>
								<a  class="be-post-tag"></a>								
							</div>
							<div class="team-social">
								<a href="https://www.facebook.com/Diegortega.mx" target="_blank"><i class="fa fa-facebook"></i></a>
								<a href="https://www.youtube.com/channel/UCq6VfQsAso-FToum6G2JbRg" target="_blank"><i class="fa fa-youtube"></i></a>							
							</div>
						</div>
					</div>
					<!--
					<div class="col-ml-12 col-xs-6 col-sm-6 col-md-3">
						<div class="team-entry">
							<a href="perfil_karen"><img class="img-responsive img-full" src="img/Karen_pf.jpg" alt="" style="postion: center; width: 360px; height: 202px; opacity: 0.9;"></a>
							<h4 class="team-name">Karen Marín</h4>
							<div class="team-position">
								<a href="blog-detail-2" class="be-post-tag">Líder de Experiencia</a>								
							</div>
							<div class="team-social">
								<a href="blog-detail-2"><i class="fa fa-facebook"></i></a>
								<a href="blog-detail-2"><i class="fa fa-twitter"></i></a>
								<a href="blog-detail-2"><i class="fa fa-google-plus"></i></a>							
							</div>
						</div>
					</div>
					<div class="col-ml-12 col-xs-6 col-sm-6 col-md-3">
						<div class="team-entry">
							<a href="perfil_Eduardo"><img class="img-responsive img-full"src="img/Eduardo.jpg" alt="" style="width: 360px; height: 202px;opacity: 0.9;"></a>
							<h4 class="team-name">Eduardo</h4>
							<div class="team-position">
								<a href="blog-detail-2" class="be-post-tag">Líder Tecnológico</a>								
							</div>
							<div class="team-social">
								<a href="blog-detail-2"><i class="fa fa-facebook"></i></a>
								<a href="blog-detail-2"><i class="fa fa-twitter"></i></a>
								<a href="blog-detail-2"><i class="fa fa-google-plus"></i></a>							
							</div>
						</div>
					</div>
				-->
					<div class="col-ml-12 col-xs-6 col-sm-6 col-md-3">
						<div class="team-entry">
							<a href="perfil_oscar"><img class="img-responsive img-full" src="/img/oscar_pf.jpg" alt="" style="width: 360px; height: 202px;opacity: 0.9;"></a>
							<h4 class="team-name">Óscar Gutiérrez</h4>
							<div class="team-position">
								<a  class="be-post-tag">Co-Fundador y Líder de Coordinación Administrativa</a>								
							</div>
							<div class="team-social">
								<a href="https://www.facebook.com/OscarGutii" target="_blank">
									<i class="fa fa-facebook" ></i>
								</a>						
							</div>
						</div>
					</div>
																			
				</div>
			</div>
		</div>
		<!-- 
		<div class="counters-block number-counters">
			<img class="center-image" src="img/bg-5.jpg" alt="">
			<div class="container">

				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="counter-entry">
							<div class="stat-number" data-to="135" data-speed="3000">0</div>
							<div class="counter-label">SME Resolution</div>
							<div class="counter-text">Pellentesque gravida tristique ultrices. Sed blandit varius mauris, vel volutpat</div>
							<a class="btn color-3 size-2 hover-8">read more</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="counter-entry">
							<div class="stat-number" data-to="75" data-speed="3000">0</div>
							<div class="counter-label">Actions</div>
							<div class="counter-text">Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum</div>
							<a class="btn color-3 size-2 hover-8">read more</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="counter-entry">
							<div class="stat-number" data-to="41" data-speed="3000">0</div>
							<div class="counter-label">Purchases in year</div>
							<div class="counter-text">Donec sed lobortis tortor. Ut nec lacinia sapien, sit amet dapibus magna</div>
							<a class="btn color-3 size-2 hover-8">read more</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="counter-entry">
							<div class="stat-number" data-to="66" data-speed="3000">0</div>
							<div class="counter-label">Handworks</div>
							<div class="counter-text">Sed ultricies luctus ipsum in placerat. Mauris ultrices pharetra lectus sit amet</div>
							<a class="btn color-3 size-2 hover-8">read more</a>
						</div>
					</div>															
				</div>
			</div>
		</div>
	-->
		<div class="container">
			<div class="block">
				<h3 class="block-title" style="color: #5B6486;">Servicios</h3>
				<div class="block-subtitle">Tractus está diseñado para amoldarse a tus necesidades.<br> Es por eso que diseñamos un camino que recorreremos juntos para darte la mejor experiencia posible.</div>

				<div class="swiper-container" data-autoplay="5000" data-loop="0" data-speed="300" data-center="0" data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="2" data-md-slides="3" data-lg-slides="3" data-add-slides="3">
                    <div class="swiper-wrapper">
                    	<div class="swiper-slide" data-val="0">
							<div class="service-entry">
								<img class="service-icon" src="img/service_1.png" alt="">
								<h4 class="service-title" style="color: #5B6486;">Paso 1: Registro</h4>
								<div class="service-text">Durante el proceso de registro te pediremos información indispensable.<br>El registro será ágil, no habrá procesos tediosos.</div>
								<a class="btn color-0 size-2 hover-1" href="blog-3" style="">Leer más</a>
							</div>
                        </div>
                    	<div class="swiper-slide" data-val="1">
							<div class="service-entry">
								<img class="service-icon" src="img/service_2.png" alt="">
								<h4 class="service-title" style="color: #5B6486;">Paso 2: Creación de Pérfil de Usuario</h4>
								<div class="service-text">Al terminar el registro se creará automáticamente un perfil de usuario que podrás modificar cuando quieras.</div>
								<a class="btn color-0 size-2 hover-1" href="blog-3" style="">Leer más</a>
							</div>
                        </div>
                    	<div class="swiper-slide" data-val="2">
							<div class="service-entry">
								<img class="service-icon" src="img/service_3.png" alt="">
								<h4 class="service-title" style="color: #5B6486;">Paso 3: Creación de Proyectos</h4>
								<div class="service-text">Podrás aterrizar tus proyectos para recibir apoyo de profesionales.</div>
								<a class="btn color-0 size-2 hover-1" href="blog-3" style="">Leer más</a>
							</div>
                        </div>
                    	<div class="swiper-slide" data-val="3">
							<div class="service-entry">
								<img class="service-icon" src="img/service_1.png" alt="">
								<h4 class="service-title" style="color: #5B6486;">Paso 4: Comunidad Tractus</h4>
								<div class="service-text">Se promoverá una relación dinámica entre los usuarios de la plataforma, la empresa y todas las terceras partes.</div>
								<a class="btn color-0 size-2 hover-1" href="blog-3" style="">Leer más</a>
							</div>
                        </div>
                    	<div class="swiper-slide" data-val="4">
							<div class="service-entry">
								<img class="service-icon" src="img/service_2.png" alt="">
								<h4 class="service-title" style="color: #5B6486;">Paso 5: Te acompañamos en tu camino</h4>
								<div class="service-text">Durante la realización de los proyectos Tractus mantendrá una comunicación constante con todas las partes para resolver cualquier problema que se pudiera presentar.</div>
								<a class="btn color-0 size-2 hover-1" href="blog-3" style="">Leer más</a>
							</div>
                        </div>
                    	<div class="swiper-slide" data-val="5">
							<div class="service-entry">
								<img class="service-icon" src="img/service_3.png" alt="">
								<h4 class="service-title" style="color: #5B6486;">Paso 6: Distribución</h4>
								<div class="service-text">Al terminar tus proyectos podrás usar Tractus como plataforma de difusión y distribución también!</div>
								<a class="btn color-0 size-2 hover-1" href="blog-3" style="">Leer más</a>
							</div>
                        </div> 
                        <div class="swiper-slide" data-val="5">
							<div class="service-entry">
								<img class="service-icon" src="img/service_1.png" alt="">
								<h4 class="service-title" style="color: #5B6486;">Paso 7: Sigue Creando</h4>
								<div class="service-text">En Tractus siempre habrá nuevas herramientas para tu disposición, así que puedes volver cuando quieras a seguir creando.</div>
								<a class="btn color-0 size-2 hover-1" href="blog-3" style="">Leer más</a>
							</div>
                        </div>                                                       
                    </div>
                    <div class="pagination">
                    	
                    </div>
                </div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="info-blocks">
				<div class="info-entry left table-block">
					<div class="row table-row">
						<div class="table-cell col-xs-12 col-sm-6">
							<img class="img-responsive img-full" src="/img/vista.jpg" alt="">
						</div>
						<div class="table-cell col-xs-12 col-sm-6">
							<div class="info-text">
								<h3 class="block-title" style="font-family:Exo; color: #5B6486;">Visión</h3>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<h4 style="font-family:Exo;">Nuestro compromiso</h4>
										<p>La plataforma se pensó como un espacio para todos los artistas. De ellos, los jóvenes son nuestra mayor prioridad. Aquellos interesados en desarrollar su talento y obtener una visión que les permita vivir de su trabajo, encontrarán con nosotros un compromiso serio y una oportunidad para abrir puertas y recorrer caminos juntos.</p>
									</div>
									<div class="col-xs-12 col-sm-6">
										<h4 style="font-family:Exo;">Confianza</h4>
										<p>Somos una plataforma que toma en serio las inquietudes de los padres de familia, sabemos que quieren lo mejor para sus hijos y por eso, nos comprometemos a mantener toda la información segura y encriptada. Además de brindar herramientas para que puedan saber en todo momento que sus hijos están en buenas manos.</p>
									</div>									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="info-entry right table-block">
					<div class="row table-row">
						<div class="table-cell col-xs-12 col-sm-6">
							<div class="info-text">
								<br>
								<h3 class="block-title" style="font-family:Exo; color: #5B6486;">Conoce la Comunidad</h3>
									<h4 style="font-family:Exo;"><i class="fa fa-camera" ></i>Festividades</h4>
									<p><color style="color:#800080;">Tractus está en vísperas de lanzar su servicio.</color> Nos estamos preparando para darte una gran sorpresa de bienvenida.</p>

									<h4 style="font-family:Exo;"><i class="fa fa-thumb-tack"></i>Registro</h4>
									<p>El proceso de registro de Tractus estará conectado a todas tus redes sociales, así que olvídate de tediosos procesos de registro para poner manos a la obra.</p>

									<h4 style="font-family:Exo;"><i class="fa fa-thumb-tack"></i>El arte no tiene precio</h4>
									<p>Si te preguntas cuanto dinero tienes que desembolsar y temes que esté fuera de tu alcance, despreocúpate. El modelo de negocios de Tractus está diseñado para subvencionar el servicio a lo largo del proyecto, con el objetivo de fomentar nuestra filosfía <em>"El arte por el arte".</em></p>
								
							</div>
						</div>
						<div class="table-cell col-xs-12 col-sm-6">
							<img class="img-responsive img-full" src="/img/Dimanche.jpg" alt="">
						</div>						
					</div>

				</div>	
				
				
		</div>
		<div class="container">
			<div class="team-block block">
				<h3 class="block-title" style="color: #5B6486;">Artistas Colaboradores</h3>
				<div class="block-subtitle">Uno de los objetivos de Tractus es activamente promover el arte, por ello, invitamos a todos los artitas que quieran formar parte del diseño de arte de la página que se pongan en contacto con nosotros en el correo: <color style="color:#800080;">tractus@wolframadeus.mx</color></div>
				<div class="swiper-container" data-autoplay="5000" data-loop="0" data-speed="300" data-center="0"  data-slides-per-group="2" data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="2" data-md-slides="2" data-lg-slides="2" data-add-slides="2">
                    <div class="swiper-wrapper">
                    	<div class="swiper-slide">
                        	<div class="testimonals-block">
                        		<div class="testimonals-entry">
                        			<img class="testimonals-img" src="/img/cesar.jpg" alt="">
                        			<div class="testimonals-name">Caesar Galeana</div>
                        			<div class="testimonals-text profes">Fotógrafo</div>
                        			<div class="testimonals-text">Caesar (César) Galeana nació en la Ciudad de México el 7 de septiembre de 1995. A los 5 años se mudó junto con su familia a Acapulco, Guerrero, donde vivió el resto de su infancia y adolescencia, visitando constantemente a su faimilia del pueblo de Atoyac, también en Guerrero, y de la capital del país.<br>
									En el 2010, debido a la fuerte inseguridad de la ciudad, se mudó a Cuernavaca, donde estudió la preparatoria y un año de la universidad. Actualmente vive de nuevo en la Ciudad de México.<br>
									Desde pequeño se ha interesado por las artes, aprendiendo a tocar el piano de manera empírica y la guitarra en talleres escolares. En la preparatoria su papá le regaló la misma cámara análoga con la que le tomaban fotos a él y a sus hermanas cuando eran pequeños, y desde entonces ha tenido un gran interés por las artes visuales, entre ellas la fotografía.<br>
									El haber vivido y crecido tanto en ambientes urbanos como rurales le ha dado a Caesar una sensibilidad particular hacia cada uno de estos, logrando capturar en sus fotos lo que hace a cada uno de estos especiales.
								</div>
                        		</div>
                        	</div>
                        </div>
                        <div class="swiper-slide">
                        	<div class="testimonals-block">
                        		<div class="testimonals-entry">
                        			<a href="perfil_karen" target="_blank"><img class="testimonals-img" src="img/perfil_karen.jpg"  alt=""><a/>
                        			<div class="testimonals-name">Karen Mejía</div>
                        			<div class="testimonals-text profes">Diseñadora</div>
                        			<div class="testimonals-text"><p>Estudiante del Tecnológico de Monterrey Campus Ciudad de México de la Licenciatura de Comunicación y Medios Digitales. Actualmente curso el 4º semestre de la carrera.</p>
								</div>
                        		</div>
                        	</div>
                        </div>
                        <!--
                    	<div class="swiper-slide">
                        	<div class="testimonals-block">
                        		<div class="testimonals-entry">
                        			<img class="testimonals-img" src="img/testimonals_2.jpg" alt="">
                        			<div class="testimonals-name">Jhon Makauer</div>
                        			<div class="testimonals-text profes">Philosopher</div>
                        			<div class="testimonals-text">Phasellus sem massa, scelerisque at libero sit amet, laoreet placerat erat. Donec dictum sapien ac accumsan luctus. Fusce id euismod diam, quis venenatis ipsum.Quisque lacinia non dui id fermentum. Ut libero nulla</div>
                        		</div>
                        	</div>
                        </div>
                    	<div class="swiper-slide">
                        	<div class="testimonals-block">
                        		<div class="testimonals-entry">
                        			<img class="testimonals-img" src="img/testimonals_1.jpg" alt="">
                        			<div class="testimonals-name">Samara Kechton</div>
                        			<div class="testimonals-text profes">Make-up designer</div>
                        			<div class="testimonals-text">Nulla id risus urna. Ut commodo leo quis dolor sollicitudin, nec elementum ipsum porta. Duis in nisi nisi. Vestibulum in mauris vitae odio sagittis interdum a ut purus. Suspendisse in molestie leo, at pulvinar massa. Aenean convallis nunc eros, nec efficitur nulla congue sed</div>
                        		</div>
                        	</div>
                        </div>
                    	<div class="swiper-slide">
                        	<div class="testimonals-block">
                        		<div class="testimonals-entry">
                        			<img class="testimonals-img" src="img/testimonals_2.jpg" alt="">
                        			<div class="testimonals-name">Jhon Makauer</div>
                        			<div class="testimonals-text profes">Philosopher</div>
                        			<div class="testimonals-text">Phasellus sem massa, scelerisque at libero sit amet, laoreet placerat erat. Donec dictum sapien ac accumsan luctus. Fusce id euismod diam, quis venenatis ipsum.Quisque lacinia non dui id fermentum. Ut libero nulla</div>
                        		</div>
                        	</div>
                        </div>
                        -->          
                    </div>

                    <div class="pagination">
                    	
                    </div>
                </div>				
			</div>
			<!--
			<div class="clients-block">
				<div class="row">
					<div class="col-xs-4 col-sm-2">
						<img class="img-responsive img-full" src="img/client_1.jpg" alt="">
					</div>
					<div class="col-xs-4  col-sm-2">
						<img class="img-responsive img-full" src="img/client_2.jpg" alt="">
					</div>
					<div class="col-xs-4  col-sm-2">
						<img class="img-responsive img-full" src="img/client_3.jpg" alt="">
					</div>
					<div class="clearfix visible-xs-block"></div>
					<div class="col-xs-4  col-sm-2">
						<img class="img-responsive img-full" src="img/client_4.jpg" alt="">
					</div>
					<div class="col-xs-4  col-sm-2">
						<img class="img-responsive img-full" src="img/client_5.jpg" alt="">
					</div>
					<div class="col-xs-4  col-sm-2">
						<img class="img-responsive img-full" src="img/client_6.jpg" alt="">
					</div>																									
				</div>
			</div>
			-->
			</div>
		</div>
	</div>
</div>

	 <footer>
	    <!--
	    <div class="footer_slider">
	      <div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="4" data-sm-slides="8" data-md-slides="14" data-lg-slides="19" data-add-slides="19">
	              <div class="swiper-wrapper">
	                <div class="swiper-slide active" data-val="0">

	            <a href="gallery">       <img class="img-responsive img-full" src="img/f1.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="1">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f2.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="2">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f3.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="3">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f4.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="4">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f5.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="5">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f6.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="6">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f7.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="7">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f8.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="8">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f9.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="9">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f10.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="10">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f11.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="11">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f12.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="12">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f13.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="13">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f14.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="14">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f15.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="15">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f16.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="16">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f17.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="17">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f18.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="18">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f19.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="19">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f1.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="20">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f2.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="21">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f3.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="22">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f4.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="23">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f5.jpg" alt="">
	                 </a></div>
	              </div>
	              <div class="pagination hidden"></div>
	          </div>
	        </div>  
	    -->
	    <div class="footer-main">
	      <div class="container-fluid custom-container">
	        <div class="row"> 
	          <div class="col-md-3 col-xl-4">
	            <div class="footer-block">

	              <h1 class="footer-title">Anotaciones</h1>

	              <p>Esta página se encuentra en construcción. Así que puedes experimentar bugs inesperados o zonas sin contenido.</p>

	              <ul class="soc_buttons">
	              	<a href=""></a>
	                
	                <!--
	                <li><a href=""><i class="fa fa-twitter"></i></a></li>
	                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
	                <li><a href=""><i class="fa fa-pinterest-p"></i></a></li>
	                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
	            -->
	            	<li><a href="https://www.youtube.com/channel/UCuvtJk7GhKnZ5RdQjKZjSaw" target="_blank"><i class="fa fa-youtube"></i></a></li>
	              	<li><a href="https://www.facebook.com/tractusmx/" target="_blank"><i class="fa fa-facebook"></i></a></li>
	              	<li><a href="https://www.instagram.com/tractus.mx/" target="_blank"><i class="fa fa-instagram"></i></a></li>

	              </ul>

	            </div>
	          </div>
	          <div class="col-md-3 col-xl-2">
	            <div class="footer-block">
	              <h1 class="footer-title">Algunos Links</h1>
	              <div class="row footer-list-footer">
	              <div class="col-md-6">
	              <ul class="link-list">
	                <li><a href="http://www.wolframadeus.mx" target="_blank">Proyecto Wolfram Amadeus</a></li>
	                <!--
	                <li><a href="contact-us">Help</a></li>
	                <li><a href="contact-us">Contacts</a></li>
	                <li><a href="activity">Job</a></li>
	                <li><a href="activity">Projets</a></li>
	              </ul></div>
	              <div class="col-md-6">
	              <ul class="link-list">
	                <li><a href="activity">New Works</a></li>
	                <li><a href="author">Popular Authors</a></li>
	                <li><a href="author">New Authors</a></li>
	                <li><a href="people">Career</a></li>
	                <li><a href="faq">FAQ</a></li>
	            -->
	              </ul>
	              </div>
	              </div>
	            </div>
	          </div>   
	          <!--     
	          <div class="col-md-3 galerry">
	            <div class="footer-block">          
	              <h1 class="footer-title">Recent Works</h1>
	              <a href="blog-detail-2"><img src="img/g1.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g2.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g3.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g4.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g5.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g6.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g7.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g8.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g9.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g10.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g11.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g12.jpg" alt=""></a>
	            </div>
	          </div>
	          <div class="col-md-3">
	            <div class="footer-block">
	              <h1 class="footer-title">Subscribe On Our News</h1>
	              <form action="./" class="subscribe-form">
	                <input type="text" placeholder="Yout Name" required>
	                <div class="submit-block">
	                  <i class="fa fa-envelope-o"></i>
	                  <input type="submit" value="">
	                </div>
	              </form>
	              <div class="soc-activity">
	                <div class="soc_ico_triangle">
	                  <i class="fa fa-twitter"></i>
	                </div>
	                <div class="message-soc">
	                  <div class="date">16h ago</div>
	                  <a href="blog-detail-2" class="account">@faq</a> vestibulum accumsan est <a href="blog-detail-2" class="heshtag">blog-detail-2malesuada</a> sem auctor, eu aliquet nisi ornare leo sit amet varius egestas.
	                </div>
	              </div>
	            </div>
	            -->
	          </div>
	        </div>
	      </div>
    <div class="footer-bottom">
      <div class="container-fluid custom-container">
        <div class="col-md-12 footer-end clearfix">
          <div class="left">
            <span class="copy">© 2016. All rights reserved. <span class="white"><a>Tractus.mx</a></span></span>
            <span class="created">Created by <span class="white"><a>Tractus.mx Startup</a></span></span>
          </div>
          <div class="right">
          	<!--
            <a class="btn color-7 size-2 hover-9">About Us</a>
            <a class="btn color-7 size-2 hover-9">Help</a>
            <a class="btn color-7 size-2 hover-9">Privacy Policy</a>
        -->
          </div>
        </div>      
      </div>
    </div> 
  </footer>

	<div class="be-fixed-filter"></div>
	<div class="large-popup register">
    <div class="large-popup-fixed"></div>
    <div class="container large-popup-container">
      <div class="row">
        <div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 large-popup-content">
          <div class="row">
	            <div class="col-md-12">
	              <i class="fa fa-times close-button"></i>
	              <h5 class="large-popup-title">Cerrar</h5><br/>
	              <font color="white">El registro a través de Facebook aún no está activado.</font>
	            </div>
	            <form action="./" class="popup-input-search">
	            	<script type="text/javascript" src="https://form.jotform.co/jsform/61268526672866"></script>
		            <!--
		            <script type="text/javascript" src=""></script>
		            <div class="col-md-6">

		              <div class="be-checkbox">

		                <label class="check-box">
		                    <input class="checkbox-input" type="checkbox" required="" value="" > <span class="check-box-sign"></span>
		                </label>
		                
		                <span class="large-popup-text">
		                  He leído y acepto los <a class="be-popup-terms" href="blog-detail-2">Términos de uso</a> y la <a class="be-popup-terms" href="blog-detail-2">Poliza de provacidad</a>.
		                </span>
		              </div>
		              <div class="be-checkbox">
		                <label class="check-box">
		                    <input class="checkbox-input" type="checkbox" value="" > <span class="check-box-sign"></span>
		                </label>
		                <span class="large-popup-text">
		                  Envíame notificaciones
		                </span>
		            
		              </div>

		            </div>
		            -->
	            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
	<!--	  
  <div class="theme-config">
      <div class="main-color">
          <div class="title">Main Color:</div>
          <div class="colours-wrapper">
      		 <div class="entry color6 m-color"  data-colour="stylesheets/style-orange.css"></div>
              <div class="entry color1 m-color active" data-colour="stylesheets/stylesheet.css"></div>   
              <div class="entry color3 m-color"  data-colour="stylesheets/style-green.css"></div>
             
              <div class="entry color8 m-color"  data-colour="stylesheets/style-red.css"></div>  
              <div class="title">Second Color:</div>  
              <div class="entry s-color  active color10"  data-colour="stylesheets/stylesheet.css"></div>
              <div class="entry s-color color11"  data-colour="stylesheets/style-oranges.css"></div> 
              <div class="entry s-color color12"  data-colour="stylesheets/style-greens.css"></div>
              <div class="entry s-color color13"  data-colour="stylesheets/style-reds.css"></div>
          </div>
      </div>
     <div class="open"><img src="img/icon-134.png" alt=""></div>
  </div>
  -->
	</body>
</html>