<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/contact.ejs %>
    <title>Redsoin-About</title>

  </head>
    <body>
      <div class="menu">

      <!-- Menu -->
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="about">Acerca</a></li>
      </ul>
    </div>

    <!-- Main body -->
    <div class="icon-menu">
      <i class="fa fa-bars">
      Menú
      </i>
    </div>
    <p id="Ti">Contacto</p>
    <p id= "sTi">Sueña. Conecta. Crea.</p>
    <p class="cont">Contenido</p>
  </body>
</html>