<!DOCTYPE html>
<html>
<title>Redsoin</title>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <a href="/">
  <img src="C:\Users\Public\Pictures\Sample Pictures/Desert">
</a>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Kapp</h1>
    <p>Las ideas son nuestra fuerza</p>
    <p>Somos una empresa de desarrollo de software interesada en la creación de espacios democráticos a través del internet</p>
    <p>Esta plataforma está en construcción.</p>
  </div>
</div>
</body>
</html>
