<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Kapp</h1>
    <p>Las ideas son nuestra fuerza</p>
    <p>Somos una empresa de desarrollo de software interesada en la creaci칩n de espacios democr치ticos por medio del internet</p>
    <p>Esta plataforma est치 en construcci칩n.</p>
  </div>
</div>
</body>
</html>
