<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <meta charset= "utf-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redsoin</title>
  </head>

  <body>
    <h1>Kapp.</h1>
    <div>
      <p>Sueña. Conecta. Crea.</p> 
    </div>
  </body>
</html>
