<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="Libraries\Pictures\TY">
    </a>
    <h1>Kapp</h1>
    <p>Esta plataforma está en construcción.</p>
    <p>Las ideas son nuestra fuerza</p>
  </div>
</div>


</body>
</html>
