<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta charset= "utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Redsoin</title>

</head>

<body>
  <img src="/Lighthouse.jpg">
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Kapp</h1>
    <p>Las ideas son nuestra fuerza</p>
    <p>Somos una empresa de desarrollo de software interesada en la creación de espacios democráticos a través del internet</p>
    <p>Esta plataforma está en construcción.</p>
  </div>
</div>
</body>
</html>
