<!DOCTYPE html>
<html lang="es">
  <head>
    <% include ../partials/header.ejs %>
    <title>Redsoin</title>
  </head>

<div class="menu">

              <!-- Menu -->
              <ul>
                <li><a> K-App</a></li>
                <li><a href="registro">Registro</a></li>
                <li><a href="about">Acerca</a></li>
                <li><a href="contact">Contacto</a></li>
              </ul>
    </div>

        <!-- Main body -->
        <div class="jumbotron">
            <div class="icon-menu">
                <i class="fa fa-bars">Menú</i>
            </div>
        </div>

    <header>
        <h1 id="Ti">K-app</h1>
    </header>
  

  <body>
    <section>

        <p id="par">Páginas Relacionadas: <a href="about">aquí</a> </p>

        <p id="par">LAS COSAS<br>El bastón, 
        las monedas, el llavero, 
        la dócil cerradura, las tardías 
        Notas que no leerán los pocos días 
        que me quedan, los naipes y el tablero, 
        un libro y en sus páginas la ajada 
        violeta, monumento de una tarde 
        sin duda inolvidable y ya olvidada, 
        el rojo espejo occidental en que arde 
        una ilusoria aurora. ¡cuántas cosas, 
        láminas, umbrales, atlas, copas, clavos, 
        nos sirven como tácitos esclavos, 
        ciegas y extrañamente sigilosas! 
        Durarán más allá de nuestro olvido; 
        no sabrán nunca que nos hemos id.</p>

        <p id= "sTi">Sueña. Conecta. Crea.</p>

        <p id="par">Mirar el río hecho de tiempo y agua 
        y recordar que el tiempo es otro río, 
        saber que nos perdemos como el río 
        y que los rostros pasan como el agua.</p>

        <p id="sTi">Las ideas son nuestra fuerza</p>

        <p id="par">Sentir que la vigilia es otro sueño 
        que sueña no soñar y que la muerte 
        que teme nuestra carne es esa muerte 
        de cada noche, que se llama sueño.</p>

        <p id="par">Ver en el día o en el año un símbolo 
        de los días del hombre y de sus años, 
        convertir el ultraje de los años 
        en una música, en un rumor y un símbolo,<br> 
        Ver en la muerte el sueño, en el ocaso 
        un triste oro, tal es la poesía 
        que es inmortal y pobre. La poesía 
        vuelve como la aurora y el ocaso.</p>

        <p id="sTi">Multiplataformas</p>

        <p id="par">A veces en las tarde una cara 
        nos mira desde el fondo de un espejo; 
        el arte debe ser como ese espejo 
        que nos revela nuestra propia cara.
        Cuentan que Ulises, arto de prodigios, 
        lloró de amor al divisar su Itaca 
        verde y humilde. El arte es esa Itaca 
        de verde eternidad, no de prodigios.
        También es como el río interminable 
        que pasa y queda y es cristal de un mismo 
        Heráclito inconstante, que es el mismo 
        y es otro, como el río interminable.</p>

    </section>

        


  </body>
</html>

