<!DOCTYPE html>
<html style="height: 100%; margin: 0; padding: 0;">
<head>
    <%include ../partials/header.ejs %>
</head> 
<body style="height: 100%; margin: 0; padding: 0;">
    <div id="floating-panel">
      <input id="address" type="textbox" placeholder="Dirección">
      <input id="submit" type="button" value="Posicionar">
    </div>
    <div style="width:780px; height:500px;">
    <div id="map"></div>
    </div>    
    <% include ../partials/footer.ejs %>
</body>    
</html>