<!DOCTYPE html>
<html>
	<head>
		 <% include ../partials/header.ejs %>
	    
	</head>
	<body class="body-color3"> 
		<!-- THE LOADER -->
		<div class="be-loader">
		    	<div class="spinner">
					<img class="boton-logo"  src="/img/boton.png" width="127px" height="37px" alt="logo">
					<p class="circle">
					  <span class="ouro">
					    <span class="left"><span class="anim" style="color:#FFCC33;"></span></span>
					    <span class="right"><span class="anim" style="color:#FFCC33;" ></span></span>
					  </span>
					</p>
				</div>
		    </div>
			<!-- THE HEADER -->
		<header>
			<div class="container-fluid custom-container">
				<div class="row no_row row-header">
					<div class="brand-be">
						<a href="about-us">
							<img class="boton-logo" src="/img/tractus-logo.jpg" width="50px" height="40px" alt="logo">

						</a>
					</div>

						<div class="header-menu-block">
							<button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
							<ul class="header-menu" style="font-family: 'Conv_helveticaneuecyr-bold';"id="one">
								<li><a href="about-us" >Inicio</a></li>
                                <!--
								<li><a href="search">Descubre</a>
									<ul>
										<li><a href="search">Explore</a></li>
										<li><a href="people">People</a></li>
										<li><a href="gallery">Galleries</a></li>
									</ul>
								</li>
								  <li><a href="author-login">Perfil de Usuario</a></li>
								<li><a href="site-map">Mapa del Sitio</a></li>  
								<li id="ad-work-li"><a id="add-work-btn" class="btn color-1" href="work">Crear Proyecto</a></li>
						-->		
							</ul>
						
						</div>

						<div class="login-header-block">
							<div class="login_block">
								<a class="be-register btn color-0 size-5 hover-9" style="border-color:#FFCC20; color:#FFCC33;"><i class="fa fa-hand-o-right" style="color:#FFCC20; font-size:200%;"></i></a>
							</div>	
							
						</div>
					</div>
				</div>
		</header>	
		
	<!-- MAIN CONTENT -->
	<div id="content-block">
		<div class="container be-detail-container">
			<h2 class="content-title">Francisco Castellón</h2>
			<div class="row">
				<!--<div class="col-xs-12 col-sm-9">-->
                    <div class="">
					<div class="blog-wrapper blog-list">

						<div class="blog-post be-large-post">
							<div class="info-block clearfix">
								<div class="be-large-post-align">
									<!--
                                    <span><i class="fa fa-thumbs-o-up"></i> 253</span>
									<span><i class="fa fa-eye"></i> 753</span>
									<span><i class="fa fa-comment-o"></i> 50</span>
                                    -->
									<span class="be-text-tags">
										<p class="be-post-tag">Líder de Coordinación Legal</p>
									</span>										
								</div>
							</div>
							<div class="be-large-post-align">
								<h2 class="be-post-title">
									Bio
								</h2>

								<div class="be-text-tags clearfix">
									<div class="post-date">
										<i class="fa fa-clock-o"></i> 9 de Agosto, 2016
									</div>
									<div class="author-post">
										<img src="img/tractus-logo.jpg" alt="" class="ava-author">
										<span>Por Tractus Startup Mx</span>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="blog-content be-large-post-align">
								<div class="post-text ">
                                <p>Estudiante de la carrera de Derecho en la Universidad de Colima. Originario de Guadalajara, Jalisco pero con actual residencia en la ciudad de Colima.</p>
                                <img src="img/f_lcl/f3.jpg" alt="" style="display: block; width:100%; height:100%; margin: auto;"> 
                                <br>    
                                <p>A los 17 años fui elegido como representante estudiantil del Bachillerato Técnico No. 1 de la Universidad de Colima, acercándome de este modo a la creación, dirección y evaluación de proyectos culturales, deportivos, académicos, sociales, ecológicos y de otras índoles, con el propósito de generar actividades en pro al desarrollo integral de los estudiantes, forjando y potencializando sus aptitudes, dando por resultado un total de más de 60 proyectos.</p>
                                   
                                <!--
                                <div class="post-preview be-large-post-slider">
								<div class="swiper-container" data-autoplay="5000" data-loop="10" data-speed="2500" data-center="0" data-slides-per-view="1">
					                <div class="swiper-wrapper">
                                        <div class="swiper-slide" data-val="1">
				                    		 <img class="img-responsive img-full" src="img/refDiego/delta2.jpg" alt="">
				                    	</div>
				                    	<div class="swiper-slide" data-val="2">
				                    		 <img class="img-responsive img-full" src="img/refDiego/delta5.jpg" alt="">
				                    	</div>
                                        <div class="swiper-slide" data-val="3">
				                    		 <img class="img-responsive img-full" src="img/refDiego/delta.jpg" alt="">
				                    	</div>
                                        <div class="swiper-slide" data-val="4">
				                    		 <img class="img-responsive img-full" src="img/refDiego/delta4.jpg" alt="">
				                    	</div>
                                        <div class="swiper-slide" data-val="5">
				                    		 <img class="img-responsive img-full" src="img/refDiego/delta3.jpg" alt="">
				                    	</div>
                                        <div class="swiper-slide" data-val="6">
				                    		 <img class="img-responsive img-full" src="img/refDiego/tallerdelta.jpg" alt="">
				                    	</div>
                                        <div class="swiper-slide" data-val="7">
				                    		 <img class="img-responsive img-full" src="img/refDiego/fref.jpg" alt="">
				                    	</div>
                                        <div class="swiper-slide" data-val="8">
				                    		 <img class="img-responsive img-full" src="img/refDiego/Sonificacion.jpg" alt="">
				                    	</div>
				                    </div>
					                <div class="pagination hidden"></div>
					                <div class="swiper-arrow-left type-3"></div>
					                <div class="swiper-arrow-right type-3"></div>
					            </div>
							</div>	-->
                                <img class="img-fullblog" src="img/f_lcl/f1.jpeg" alt="something wrong?">    
                                    <p>Cursé un diplomado de Inglés por el Centro de Lenguas del Instituto Tecnológico de Monterrey campus Colima. Actualmente en el área enfocada al Derecho, además de estudiante soy Asesor Jurídico de la Asociación Civil Temiki,  y practicante dentro del Despacho Jurídico Sandoval Chacón y Asociados. Soy integrante del Comité de Contraloría Social de la Universidad de Colima en su delegación Campus Norte, donde damos vigilancia del correcto uso del recurso público que se designa a la Institución. He participado en diverso foros de Políticas Públicas, Modelos de Naciones Unidas entre otras actividades relacionadas con la Beneficencia Social.</p>
                                    <img src="img/f_lcl/f2.jpg" style="width:100%; heigth:100%;">
                                    <p>Siempre he pensado que el Arte en su más amplia expresión, se puede entender como toda emanación humana que inspire y trascienda nuestra limitada forma de ver la vida. Es gracias a esto que creo que todas las personas somos capaces de generar arte, independientemente de la condición social, área profesional, o cualquier otro limitante que nos podamos forjar.</p>
                                    
								</div>
							</div>
							<div class="be-large-post-align">
								<div class="row">
                                    <!--
									<div class="col-xs-12 col-sm-6">
										<div class="be-bottom">
											<h4 class="be-bottom-title">Tags</h4>
											<div class="tags_block clearfix">
												<ul>
													<li><a href="blog-detail-2">photoshop</a></li>
													<li><a href="blog-detail-2">national geographic</a></li>
													<li><a href="blog-detail-2">nature</a></li>
													<li><a href="blog-detail-2">responsive web design</a></li>
													<li><a href="blog-detail-2">animals</a></li>
												</ul>
											</div>									
										</div>
									</div>
                                    -->
									<div class="col-xs-12 col-sm-6">
										<div class="be-bottom">
											<h4 class="be-bottom-title">Redes Sociales</h4>
											<ul class="soc_buttons light">
												<li><a href="https://www.facebook.com/francisco.castelloonn" target="_blank"><i class="fa fa-facebook"></i></a></li>
												<li><a href="https://twitter.com/ElCastee" target="_blank"><i class="fa fa-twitter"></i></a></li>
												<li><a href="https://www.instagram.com/paco.caste" target="_blank"><i class="fa fa-instagram"></i></a></li>
											</ul>
										</div>
									</div>
								</div>							
							</div>
						</div>
                        <!--
						<h3 class="letf-menu-article">Related Posts</h3>
						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<div class="be-post style-2">
									<div class="be-post-date"><i class="fa fa-clock-o"></i> April 23, 2015</div>
									<a href="blog-detail-2" class="be-post-title">Poly Bear</a>     	
									<a href="blog-detail-2" class="be-img-block">
										<img src="img/be_post_3.jpg" alt="omg">
									</a>
									<span>
										Cras pellentesque blandit arcu eget laoreet. Nulla finibus non.
									</span>
								</div>							
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="be-post style-2">
									<div class="be-post-date"><i class="fa fa-clock-o"></i> April 23, 2015</div>
									<a href="blog-detail-2" class="be-post-title">Girl in a Glasses</a>     	
									<a href="blog-detail-2" class="be-img-block">
										<img src="img/be_post_4.jpg" alt="omg">
									</a>
									<span>
										Proin id justo euismod, efficitur dui id, posuere libero. Aenean sollicitudin magna felis
									</span>
								</div>							
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="be-post style-2">
									<div class="be-post-date"><i class="fa fa-clock-o"></i> April 23, 2015</div>
									<a href="blog-detail-2" class="be-post-title">Art House modern</a>     	
									<a href="blog-detail-2" class="be-img-block">
										<img src="img/be_post_5.jpg" alt="omg">
									</a>
									<span>
										Nam finibus sed lectus sit amet consequat. Proin laoreet mi nec lorem molestie tristique.
									</span>
								</div>							
							</div>														
						</div>
                        -->
                        
                        
                        <!--
						<div class="be-comment-block">
							<h1 class="comments-title">Comments (3)</h1>
							<div class="be-comment">
								<div class="be-img-comment">	
									<a href="blog-detail-2">
										<img src="img/c1.png" alt="" class="be-ava-comment">
									</a>
								</div>
								<div class="be-comment-content">
									
										<span class="be-comment-name">
											<a href="blog-detail-2">Ravi Sah</a>
											</span>
										<span class="be-comment-time">
											<i class="fa fa-clock-o"></i>
											May 27, 2015 at 3:14am
										</span>

									<p class="be-comment-text">
										Pellentesque gravida tristique ultrices. 
										Sed blandit varius mauris, vel volutpat urna hendrerit id. 
										Curabitur rutrum dolor gravida turpis tristique efficitur.
									</p>
								</div>
							</div>
							<div class="be-comment">
								<div class="be-img-comment">	
									<a href="blog-detail-2">
										<img src="img/c4.png" alt="" class="be-ava-comment">
									</a>
								</div>
								<div class="be-comment-content">
									<span class="be-comment-name">
										<a href="blog-detail-2">Phoenix, the Creative Studio</a>
									</span>
									<span class="be-comment-time">
										<i class="fa fa-clock-o"></i>
										May 27, 2015 at 3:14am
									</span>
									<p class="be-comment-text">
										Nunc ornare sed dolor sed mattis. In scelerisque dui a arcu mattis, at maximus eros commodo. Cras magna nunc, cursus lobortis luctus at, sollicitudin vel neque. Duis eleifend lorem non ant. Proin ut ornare lectus, vel eleifend est. Fusce hendrerit dui in turpis tristique blandit.
									</p>
								</div>
							</div>
							<div class="be-comment">
								<div class="be-img-comment">	
									<a href="blog-detail-2">
										<img src="img/c5.png" alt="" class="be-ava-comment">
									</a>
								</div>
								<div class="be-comment-content">
									<span class="be-comment-name">
										<a href="blog-detail-2">Cüneyt ŞEN</a>
									</span>
									<span class="be-comment-time">
										<i class="fa fa-clock-o"></i>
										May 27, 2015 at 3:14am
									</span>
									<p class="be-comment-text">
										Cras magna nunc, cursus lobortis luctus at, sollicitudin vel neque. Duis eleifend lorem non ant
									</p>
								</div>
							</div>
							<form class="form-block">
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="form-group fl_icon">
											<div class="icon"><i class="fa fa-user"></i></div>
											<input class="form-input" type="text" placeholder="Your name">
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 fl_icon">
										<div class="form-group fl_icon">
											<div class="icon"><i class="fa fa-envelope-o"></i></div>
											<input class="form-input" type="text" placeholder="Your email">
										</div>
									</div>
									<div class="col-xs-12">									
										<div class="form-group">
											<textarea class="form-input" required="" placeholder="Your text"></textarea>
										</div>
									</div>
									<a class="btn color-1 size-2 hover-1 pull-right">submit</a>
								</div>
							</form>
						</div>
                        -->
					</div>
				</div>
                <!--
				<div class="col-xs-12 col-sm-3">
					
                    <form action="./" class="input-search">
						<input type="text" required placeholder="Enter keyword">
							<i class="fa fa-search"></i>
							<input type="submit" value="">
					</form>
                    
					<div class="be-vidget">
						<h3 class="letf-menu-article">
							Categories
						</h3>
						<div class="creative_filds_block">
							<div class="ul">
								<a href="blog-detail-2">Graphic Design		</a>
								<a href="blog-detail-2">Photography			</a>
								<a href="blog-detail-2">Interaction Design	</a>
								<a href="blog-detail-2">Art Direction		</a>
								<a href="blog-detail-2">Illustration		</a>
							</div>
						</div>
					</div>
					
					<div class="be-vidget">
						<h3 class="letf-menu-article">
							Popular Posts
						</h3>					
	                	<div class="be-post style-2">
							<a href="blog-detail-2" class="be-post-title">Arctic monkeys. Space adventures in the action</a>     	
							<a href="blog-detail-2" class="be-img-block">
								<img src="img/be_post_1.jpg" alt="omg">
							</a>
							<span>
								Pellentesque consectetur, est vel efficitur posuere, neque dolor accumsan
							</span>
						</div>
	                	<div class="be-post style-2">
							<a href="blog-detail-2" class="be-post-title">Cubism as art direction</a>     	
							<a href="blog-detail-2" class="be-img-block">
								<img src="img/be_post_2.jpg" alt="omg">
							</a>
							<span>
								Cras pellentesque blandit arcu eget laoreet. Nulla finibus non.
							</span>
						</div>
					</div>

					<div class="be-vidget">
						<h3 class="letf-menu-article">
							Popular Tags
						</h3>
						<div class="tags_block clearfix">
							<ul>
								<li><a href="blog-detail-2">photoshop</a></li>
								<li><a href="blog-detail-2">graphic</a></li>
								<li><a href="blog-detail-2">art</a></li>
								<li><a href="blog-detail-2">website</a></li>
								<li><a href="blog-detail-2">logo</a></li>
								<li><a href="blog-detail-2">identity</a></li>
								<li><a href="blog-detail-2">logo design</a></li>
								<li><a href="blog-detail-2">interactive</a></li>
								<li><a href="blog-detail-2">blue</a></li>
								<li><a href="blog-detail-2">branding</a></li>
							</ul>
						</div>
					</div>					

					<h3 class="letf-menu-article">
						Slider widget
					</h3>						
					<div class="swiper-container" data-autoplay="5000" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                        <div class="swiper-wrapper">
                            	<div class="swiper-slide">
	                            	<div class="be-post style-3">
										<a href="blog-detail-2" class="be-img-block">
										<img src="img/be_slider_1.jpg" height="202" width="269" alt="omg">
										</a>
										<a href="blog-detail-2" class="be-post-title">Defence</a>
										<span>
											<a href="blog-detail-2" class="be-post-tag">Art direction</a>, 
											<a href="blog-detail-2" class="be-post-tag">Web Design</a>,  
											<a href="blog-detail-2" class="be-post-tag">Interactiob design</a>
										</span>
									</div>
	                            </div>
	                            <div class="swiper-slide">
	                            	<div class="be-post style-3">
										<a href="blog-detail-2" class="be-img-block">
										<img src="img/be_slider_1.jpg" height="202" width="269" alt="omg">
										</a>
										<a href="blog-detail-2" class="be-post-title">Defence</a>
										<span>
											<a href="blog-detail-2" class="be-post-tag">Art direction</a>, 
											<a href="blog-detail-2" class="be-post-tag">Web Design</a>,  
											<a href="blog-detail-2" class="be-post-tag">Interactiob design</a>
										</span>
									</div>
	                            </div>
	                            <div class="swiper-slide">
	                            	<div class="be-post style-3">
										<a href="blog-detail-2" class="be-img-block">
										<img src="img/be_slider_1.jpg" height="202" width="269" alt="omg">
										</a>
										<a href="blog-detail-2" class="be-post-title">Defence</a>
										<span>
											<a href="blog-detail-2" class="be-post-tag">Art direction</a>, 
											<a href="blog-detail-2" class="be-post-tag">Web Design</a>,  
											<a href="blog-detail-2" class="be-post-tag">Interactiob design</a>
										</span>
									</div>
	                            </div>
	                            <div class="swiper-slide">
	                            	<div class="be-post style-3">
										<a href="blog-detail-2" class="be-img-block">
										<img src="img/be_slider_1.jpg" height="202" width="269" alt="omg">
										</a>
										<a href="blog-detail-2" class="be-post-title">Defence</a>
										<span>
											<a href="blog-detail-2" class="be-post-tag">Art direction</a>, 
											<a href="blog-detail-2" class="be-post-tag">Web Design</a>,  
											<a href="blog-detail-2" class="be-post-tag">Interactiob design</a>
										</span>
									</div>
	                            </div>
                        </div>
                        <div class="pagination">
                        	
                        </div>
                    </div>

					<div class="be-vidget">
						<h3 class="letf-menu-article">
							Archive
						</h3>
                        <div class="accordion style-1">
                            <div class="acc-panel">
                                <div class="acc-title">2015</div>
                                <div class="acc-body">
                                    <p><a class="archive-link clearfix" href="blog-detail-2">January <span class="count">13</span></a></p>
                                    <p><a class="archive-link clearfix" href="blog-detail-2">February <span class="count">225</span></a></p>
                                    <p><a class="archive-link clearfix" href="blog-detail-2">March <span class="count">31</span></a></p>
                                </div>
                            </div>
                            <div class="acc-panel">
                                <div class="acc-title">2014</div>
                                <div class="acc-body">
                                    <p><a class="archive-link clearfix" href="blog-detail-2">January <span class="count">13</span></a></p>
                                    <p><a class="archive-link clearfix" href="blog-detail-2">February <span class="count">225</span></a></p>
                                    <p><a class="archive-link clearfix" href="blog-detail-2">March <span class="count">31</span></a></p>
                                </div>
                            </div>
                            <div class="acc-panel">
                                <div class="acc-title">2013</div>
                                <div class="acc-body">
                                    <p><a class="archive-link clearfix" href="blog-detail-2">January <span class="count">13</span></a></p>
                                    <p><a class="archive-link clearfix" href="blog-detail-2">February <span class="count">225</span></a></p>
                                    <p><a class="archive-link clearfix" href="blog-detail-2">March <span class="count">31</span></a></p>
                                </div>
                            </div>                            
                        </div>						
					</div>

					<div class="be-vidget">
						<h3 class="letf-menu-article">
							Gallery
						</h3>
						<div class="gal-vidget">
							<div class="row row20">
								<div class="col-xs-6">
									<a class="gal-vidget-link" href="blog-detail-2"><img class="img-responsive img-full" src="img/be_gal_1.jpg" alt=""></a>
								</div>
								<div class="col-xs-6">
									<a class="gal-vidget-link" href="blog-detail-2"><img class="img-responsive img-full" src="img/be_gal_2.jpg" alt=""></a>
								</div>
								<div class="col-xs-6">
									<a class="gal-vidget-link" href="blog-detail-2"><img class="img-responsive img-full" src="img/be_gal_3.jpg" alt=""></a>
								</div>
								<div class="col-xs-6">
									<a class="gal-vidget-link" href="blog-detail-2"><img class="img-responsive img-full" src="img/be_gal_4.jpg" alt=""></a>
								</div>
								<div class="col-xs-6">
									<a class="gal-vidget-link" href="blog-detail-2"><img class="img-responsive img-full" src="img/be_gal_5.jpg" alt=""></a>
								</div>
								<div class="col-xs-6">
									<a class="gal-vidget-link" href="blog-detail-2"><img class="img-responsive img-full" src="img/be_gal_6.jpg" alt=""></a>
								</div>																																												
							</div>
						</div>
					</div>					


				</div>
                -->
			</div>
		</div>
	</div>
       
	 <footer>
	    <!--
	    <div class="footer_slider">
	      <div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="4" data-sm-slides="8" data-md-slides="14" data-lg-slides="19" data-add-slides="19">
	              <div class="swiper-wrapper">
	                <div class="swiper-slide active" data-val="0">

	            <a href="gallery">       <img class="img-responsive img-full" src="img/f1.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="1">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f2.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="2">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f3.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="3">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f4.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="4">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f5.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="5">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f6.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="6">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f7.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="7">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f8.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="8">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f9.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="9">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f10.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="10">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f11.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="11">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f12.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="12">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f13.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="13">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f14.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="14">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f15.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="15">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f16.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="16">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f17.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="17">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f18.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="18">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f19.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="19">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f1.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="20">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f2.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="21">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f3.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="22">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f4.jpg" alt="">
	                 </a></div>
	                <div class="swiper-slide" data-val="23">
	            <a href="gallery">

	                     <img class="img-responsive img-full" src="img/f5.jpg" alt="">
	                 </a></div>
	              </div>
	              <div class="pagination hidden"></div>
	          </div>
	        </div>  
	    -->
	    <div class="footer-main">
	      <div class="container-fluid custom-container">
	        <div class="row"> 
	          <div class="col-md-3 col-xl-4">
	            <div class="footer-block">

	              <h1 class="footer-title">Anotaciones</h1>

	              <p>Esta página se encuentra en construcción. Así que puedes experimentar bugs inesperados o zonas sin contenido.</p>

	              <ul class="soc_buttons">
	              	<a href=""></a>
	                
	                <!--
	                <li><a href=""><i class="fa fa-twitter"></i></a></li>
	                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
	                <li><a href=""><i class="fa fa-pinterest-p"></i></a></li>
	                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
	            -->
	            	<li><a href="https://www.youtube.com/channel/UCuvtJk7GhKnZ5RdQjKZjSaw" target="_blank"><i class="fa fa-youtube"></i></a></li>
	              	<li><a href="https://www.facebook.com/tractusmx/" target="_blank"><i class="fa fa-facebook"></i></a></li>
	              	<li><a href="https://www.instagram.com/tractus.mx/" target="_blank"><i class="fa fa-instagram"></i></a></li>

	              </ul>

	            </div>
	          </div>
	          <div class="col-md-3 col-xl-2">
	            <div class="footer-block">
	              <h1 class="footer-title">Algunos Links</h1>
	              <div class="row footer-list-footer">
	              <div class="col-md-6">
	              <ul class="link-list">
	                <li><a href="http://www.wolframadeus.mx" target="_blank">Proyecto Wolfram Amadeus</a></li>
	                <!--
	                <li><a href="contact-us">Help</a></li>
	                <li><a href="contact-us">Contacts</a></li>
	                <li><a href="activity">Job</a></li>
	                <li><a href="activity">Projets</a></li>
	              </ul></div>
	              <div class="col-md-6">
	              <ul class="link-list">
	                <li><a href="activity">New Works</a></li>
	                <li><a href="author">Popular Authors</a></li>
	                <li><a href="author">New Authors</a></li>
	                <li><a href="people">Career</a></li>
	                <li><a href="faq">FAQ</a></li>
	            -->
	              </ul>
	              </div>
	              </div>
	            </div>
	          </div>   
	          <!--     
	          <div class="col-md-3 galerry">
	            <div class="footer-block">          
	              <h1 class="footer-title">Recent Works</h1>
	              <a href="blog-detail-2"><img src="img/g1.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g2.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g3.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g4.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g5.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g6.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g7.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g8.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g9.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g10.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g11.jpg" alt=""></a>
	              <a href="blog-detail-2"><img src="img/g12.jpg" alt=""></a>
	            </div>
	          </div>
	          <div class="col-md-3">
	            <div class="footer-block">
	              <h1 class="footer-title">Subscribe On Our News</h1>
	              <form action="./" class="subscribe-form">
	                <input type="text" placeholder="Yout Name" required>
	                <div class="submit-block">
	                  <i class="fa fa-envelope-o"></i>
	                  <input type="submit" value="">
	                </div>
	              </form>
	              <div class="soc-activity">
	                <div class="soc_ico_triangle">
	                  <i class="fa fa-twitter"></i>
	                </div>
	                <div class="message-soc">
	                  <div class="date">16h ago</div>
	                  <a href="blog-detail-2" class="account">@faq</a> vestibulum accumsan est <a href="blog-detail-2" class="heshtag">blog-detail-2malesuada</a> sem auctor, eu aliquet nisi ornare leo sit amet varius egestas.
	                </div>
	              </div>
	            </div>
	            -->
	          </div>
	        </div>
	      </div>
    <div class="footer-bottom">
      <div class="container-fluid custom-container">
        <div class="col-md-12 footer-end clearfix">
          <div class="left">

            <span class="copy">© 2016. All rights reserved. <span class="white"><a>Tractus.mx</a></span></span>
            <span class="created">Creado por <span class="white"><a>Tractus.mx Startup</a></span></span>
            Visitas
			<img style="border: 0px solid; display: inline;" alt="contador de visitas" src="http://www.websmultimedia.com/contador-de-visitas.php?id=215436">
          </div>
          <div class="right">
          	<!--
            <a class="btn color-7 size-2 hover-9">About Us</a>
            <a class="btn color-7 size-2 hover-9">Help</a>
            <a class="btn color-7 size-2 hover-9">Privacy Policy</a>
        -->
          </div>
        </div>      
      </div>
    </div> 
  </footer>

	<div class="be-fixed-filter"></div>
	<div class="large-popup register" >
    <div class="large-popup-fixed" ></div>
    <div class="container large-popup-container" style="background-color:white;">
      <div class="row">
        <div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 large-popup-content">
          <div class="row">
	            <div class="col-md-12">
	              <i class="fa fa-times close-button"></i>
	              <h5 class="large-popup-title">Cerrar</h5><br/>
	              <font color="purple;">El registro a través de Facebook aún no está activado.</font>
	            </div>
	            <form action="./" class="popup-input-search" >
	            	<script type="text/javascript" src="https://form.jotform.co/jsform/61268526672866"></script>
		            <!--
		            <script type="text/javascript" src=""></script>
		            <div class="col-md-6">

		              <div class="be-checkbox">

		                <label class="check-box">
		                    <input class="checkbox-input" type="checkbox" required="" value="" > <span class="check-box-sign"></span>
		                </label>
		                
		                <span class="large-popup-text">
		                  He leído y acepto los <a class="be-popup-terms" href="blog-detail-2">Términos de uso</a> y la <a class="be-popup-terms" href="blog-detail-2">Poliza de provacidad</a>.
		                </span>
		              </div>
		              <div class="be-checkbox">
		                <label class="check-box">
		                    <input class="checkbox-input" type="checkbox" value="" > <span class="check-box-sign"></span>
		                </label>
		                <span class="large-popup-text">
		                  Envíame notificaciones
		                </span>
		            
		              </div>

		            </div>
		            -->
	            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
	<!--	  
  <div class="theme-config">
      <div class="main-color">
          <div class="title">Main Color:</div>
          <div class="colours-wrapper">
      		 <div class="entry color6 m-color"  data-colour="stylesheets/style-orange.css"></div>
              <div class="entry color1 m-color active" data-colour="stylesheets/stylesheet.css"></div>   
              <div class="entry color3 m-color"  data-colour="stylesheets/style-green.css"></div>
             
              <div class="entry color8 m-color"  data-colour="stylesheets/style-red.css"></div>  
              <div class="title">Second Color:</div>  
              <div class="entry s-color  active color10"  data-colour="stylesheets/stylesheet.css"></div>
              <div class="entry s-color color11"  data-colour="stylesheets/style-oranges.css"></div> 
              <div class="entry s-color color12"  data-colour="stylesheets/style-greens.css"></div>
              <div class="entry s-color color13"  data-colour="stylesheets/style-reds.css"></div>
          </div>
      </div>
     <div class="open"><img src="img/icon-134.png" alt=""></div>
  </div>
  -->	
	</body>
</html>